body {
    background-color: #d3d3d3;
    margin-left: 300px;
    margin-right: 300px;
    font-family: "Courier New", Courier, monospace;
    border-color: border-color: #000000;
}

h3 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

p {
	font-family: "Courier New", Courier, monospace;
	text-align: left;
	font-size: 12px;
}

h5 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

img {
	border-radius: 50px;
}

.space {
	margin-right: 40px;
	margin-bottom: 50px;
}

.firstletter {
 font-size: 200%;
}
